{
  CIDER: {
    cider_version: "0.42.2",
    dependencies: {
      nuget: "nuget-dependencies",
      tatin: "tatin-dependencies",
    },
    dependencies_dev: {
      tatin: "tatin-dependencies_dev",
    },
    distributionFolder: "Dist",
    init: "Admin.DevSetup",
    make: "Admin.MakeRelease",
    parent: "#",
    projectSpace: "HTMLTables",
    project_url: "https://github.com/rikedyp/HTMLTables",
    source: "APLSource",
    tests: "(TinyTest.Run Admin.Tests)",
    version: "",
  },
  LINK: {
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
